@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b;
  color: #e4e4e7;
  overflow: hidden;
}

.node-handle {
  transition: transform 0.2s;
}

.node-handle:hover {
  transform: scale(1.2);
}
